name: Deploy to Neocities

on:
  push:
    branches:
      - 'main'

concurrency:
  group: deploy-to-neocities
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Build static pages with astro
        run: |
          pwd
          cd ${{github.workspace}}/whole-wavelength
          pwd
          npm install
          npm run build
      - name: Deploy to Neocities
        uses: bcomnes/deploy-to-neocities@v3.0.4
        with:
          api_key: ${{ secrets.NEOCITIES_API_TOKEN }}
          cleanup: true
          dist_dir: whole-wavelength/dist/


